body {
    background-color: #e2e2e2;
    width: 70%;
    margin: auto;
}

h1{
    color: #331109;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 3px #7d7574;
    text-align: center;
}

p{
    background-color: #ffe95d;
    padding: 10px;
    border: 3px solid #ffa487;
    color: #1b2f3e;
}

a {
    text-decoration: none;
    border: 3px solid #f6aee9;
    background-color: #d8a1eb;
    padding: 15px;
    font-weight: bold;
    margin: 200px;
}

a:hover {
    text-decoration: underline;
    border: 3px solid #ac661b;
    background-color: #f3a12e;
    color: #4a1e03;
}